[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CDSE"]
	path = CDSE
	url = https://github.com/zivankaraman/cdse
[submodule "spectator"]
	path = spectator
	url = https://github.com/zivankaraman/spectator
